.authCenter {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authCard {
  width: 36rem;
  padding: 1.6rem;
}

.authCard__header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.authCardForm__group {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}

.authCardForm__group input {
  font-size: 1.6rem;
  border-radius: 0.4rem;
  outline: none;
  padding: 0.4rem;
  width: 100%;
}

.authFooter__content {
  display: flex;
  flex-direction: column;
}

.authCardForm__group button {
  outline: none;
  border: none;
}

.authCardForm__group a {
  text-decoration: none;
  font-size: 1.6rem;
}

.authCardForm__group:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
